<section class="services" id="services">

  <h1 class="heading"> Nos <span>services</span> </h1>

  <div class="box-container">
    <div class="box">
      <i class="fas fa-calculator"></i>
      <h3>Calcul de l'IMC</h3>
      <p>Entrez simplement votre poids et votre taille pour découvrir votre indice de masse corporelle.</p>
      <a href="service-list/imc-calculator" class="btn">En savoir plus <span class="fas fa-chevron-right"></span> </a>
    </div>
    <div class="box">
      <i class="fas fa-calculator"></i>
      <h3>Calculateurs de Calories</h3>
      <p>Estimez vos besoins caloriques en fonction de différents facteurs.</p>
      <a href="#" class="btn">En savoir plus <span class="fas fa-chevron-right"></span> </a>
    </div>
    <div class="box">
      <i class="fas fa-heartbeat"></i>
      <h3>Trackers de Fitness</h3>
      <p>Enregistrez vos activités physiques, vos habitudes alimentaires et votre poids au fil du temps. Visualisez vos données sous forme de graphiques pour voir votre évolution.</p>
      <a href="#" class="btn">En savoir plus <span class="fas fa-chevron-right"></span> </a>
    </div>
    <div class="box">
      <i class="fas fa-notes-medical"></i>
      <h3>Questionnaires de Santé</h3>
      <p>Recevez des recommandations personnalisées pour améliorer votre bien-être en fonction de vos réponses.</p>
      <a href="#" class="btn">En savoir plus <span class="fas fa-chevron-right"></span> </a>
    </div>
  </div>

</section>
<!-- services section ends -->
