<!-- home section start -->
<section class="home" id="home">

  <div class="image">
    <img src="assets/image/coeur.png" alt="">
  </div>

  <div class="content">
    <h3>Bienvenue sur Santé Active</h3>
    <p>Votre allié en ligne pour une vie plus saine et équilibrée.</p><p> Notre site propose une gamme complète d'outils interactifs conçus pour vous aider à mieux comprendre votre santé, à atteindre vos objectifs de bien-être et à prendre des décisions éclairées pour un mode de vie plus sain.</p>
    <a href="#" class="btn"> contactez nous <span class="fas fa-chevron-right"></span> </a>
  </div>

</section>
<!-- home section ends -->

<!-- custom js file link
<script src="js/scriptIndex.js"></script>
-->
